body {
    background: white;
}

















.RFP .trigger {
    box-shadow: 0px, 8px 16px rgba(255,0, 0, 0.15);
    border-radius: 22px;
}

.RFP .trigger span{
    font-weight: 500;
    letter-spacing: 0px;
    font-size: 16px;
    position: relative;
    background: white;
    color: #555;
    display: block;
    min-width: 0px;
    height: 44px;
    padding: 0 18px;
    
    z-index: 1;
    cursor: pointer;

    border-radius: 22px;
    
    /*jeg må lære meg dette....*/
    transition: 350ms border-radius 700ms, 700ms color 700ms;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
}

.RFP .trigger ul.rådene {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    background: white;
    border-radius: 0 0 22px 22px;   /*tror jeg må endre på denne*/
    font-size: 14px;
   
    overflow: hidden; /* hvis den har tekst som går "utenfor", så vises den ikke */
    transform: scaleY(0);
    transform-origin: top;
    transition: 350ms transform 350ms; /*må også lære meg hva disse "ms" greiene betyr*/
}


/*  --! animation for selve drop down-baren !--  */
.RFP .trigger ul.rådene a{
    opacity: 0;
    transition: 350ms opacity 350ms;
}







/*  --! drop-down UTSEENDE !--  */
.RFP .trigger ul.rådene li {
    top: 0;
    bottom: 0;
    width: 220px;
    height: 44px;
    padding: 0 20px;
    
    
    z-index: 0;     /*jeg aner ikke hva z-index er*/
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start; /*hva i huleste er "flex-start"*/

    border-left: 0px solid #eee;
    transition: 200ms border-left 0ms;
}



.RFP .trigger ul.rådene li:before{
    content: ""; /*hva faen er det dette gjør*/
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, #eee, fcfcfc);
    position: absolute; /*hva faen gjør dette*/
    top: 0;
    left: 0;
}

.RFP .trigger ul.rådene li a{
    text-decoration: none;
    color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start; /*hva faen gjør flex-start*/
}

.RFP .trigger ul.rådene li:hover{
    border-left: 10px solid #eee;
}

.RFP .trigger:hover span {
    min-width: 220px;
    border-radius: 22px 22px 0 0;
    transition: 350ms border-radius 0ms, 700ms, color 700ms, 350ms min-width 0ms;
    color: #ccc;
}

.RFP .trigger:hover ul.rådene {
    transform: scaleY(1);
    transition-duration: 150ms;
}

.RFP .trigger:hover ul.rådene a {
    opacity: 1;
    transition: 350ms opacity 700ms;
}
html {
    box-sizing: border-box;
}
*:before,
*:after {
    box-sizing: inherit;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: "Space Mono", monospace;
    height: 100wh;
    margin: 0;
    background: linear-gradient(to bottom, #ffd9ce, #ffb19b);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*SEARCH feltet*/
.search {
    --padding: 14px;

    margin-bottom: 2%;
    
    width: max-content;
    
    align-items: center;

    padding: var(--padding);
    border-radius: 28px;
    background: #f6f6f6;
    border-color: #333333;
}


.search-input {
    font-size: 20px;
    font-family: "Quicksand", sans-serif;
    font-weight: 375;

    color: #333333;
    margin-left: var(--padding);


    /*rett og slett gjøre search baren schmazingz*/
    outline: none;
    border: none;
    background: transparent;

    width: 600px;
}




/*NAV-BAR*/
.slide {
    height: 100%;
    width: 180px;
    position: absolute;
    margin-right: 100vw;
}